@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@inject IWebHostEnvironment Env

<!DOCTYPE html>
<html lang="en">

<head>
    <!--Google Analytics-->
    @if (!User.Identity.IsAuthenticated && !Env.IsDevelopment())
    {
        <!-- Insert Google Analytics here -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-56L3ZVQE6R"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-56L3ZVQE6R');
    </script>
    }

    <!-- metas -->
    <meta charset="utf-8">
    <meta name="author" content="TakeMyHand" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="TakeMyHand Template" />
    <meta name="description" content="TMH - TakeMyHand Template Root" />
    <!-- title  -->
    <title>@ViewBag.Title</title>
    <!-- favicon -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:700|Open+Sans:300,400,600">
    <link rel="stylesheet" href="~/assets/css/plugins.css">


    <link rel="shortcut icon" href="~/assets/tmh/img/logos/favicon.png" />
    <link rel="shortcut icon" href="~/assets/tmh/img/logos/favicon.png">
    <link rel="apple-touch-icon" href="~/assets/tmh/img/logos/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/assets/tmh/img/logos/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/assets/tmh/img/logos/apple-touch-icon-114x114.png">

    <!-- plugins -->
    @*<link rel="stylesheet" href="css/plugins.css" />*@


    <!-- search css -->
    <link rel="stylesheet" href="~/assets/search/search.css">

    <!-- core style css -->
    <link href="~/assets/css/styles.css" rel="stylesheet">
    <link href="~/assets/css/cookiealert.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>

<body>

    <!-- start page loading -->
    <div id="preloader">
        <div class="row loader">
            <div class="loader-icon"></div>
        </div>
    </div>
    <!-- end page loading -->
    <!-- start main-wrapper section -->
    <div class="main-wrapper">

        <!-- start header section -->
        <header class="header-style1 menu_area-light">

            <div class="navbar-default border-bottom border-color-light-white">

                <!-- Start Top Search -->
                <div class="top-search bg-theme">
                    <div class="container">
                        <form class="search-form" action="search.html" method="GET" accept-charset="utf-8">
                            <div class="input-group">
                                <span class="input-group-addon cursor-pointer">
                                    <button class="search-form_submit fas fa-search font-size18 text-white" type="submit"></button>
                                </span>
                                <input type="text" class="search-form_input form-control" name="s" autocomplete="off" placeholder="Type & hit enter...">
                                <span class="input-group-addon close-search"><i class="fas fa-times font-size18 line-height-28 margin-5px-top"></i></span>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- End Top Search -->

                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-12">
                            <div class="menu_area alt-font">
                                <partial name="Partial/_MenuTMH2.cshtml" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- end header section -->
        <!-- Main Body Render() no p-5 for now -->
        <div class="container">
            @*<br /><br /><br />*@
            @RenderBody()

            @*<footer>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm">
                                Copyright &copy; 2021 TAKEMYHAND | <a href="https://twitter.com/takemyhandco">@@takemyhandco</a>
                            </div>
                        </div>
                    </div>
                </footer>*@
        </div>
        <!-- End Main Body Render() -->
        <div class="container-fluid clearfix">&nbsp;</div>
        <!-- start footer section -->
        <footer class="bg-img background-size-contain" data-overlay-dark="1" data-background="~/assets/img/content/dotted-map.png">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 col-md-12 sm-margin-30px-bottom">
                        <div class="margin-15px-bottom"><img src="~/assets/img/logos/logo-footer.png" alt="" /></div>
                        <p class="margin-15px-bottom">Take My Hand Riverside</p>
                        <p class="margin-10px-bottom"><i class="fas fa-map-marker-alt text-hightlight-color padding-10px-right"></i><strong class="text-white padding-10px-right opacity7">Address:</strong><span>2085 Rustin Ave. <br />Riverside, CA 92503</span></p>
                        <p class="margin-10px-bottom"><i class="fas fa-phone text-hightlight-color padding-10px-right"></i><strong class="text-white padding-10px-right opacity7">Phone:</strong><span>(800) 555-1212</span></p>
                        <p><i class="fas fa-envelope text-hightlight-color padding-10px-right"></i><strong class="text-white padding-10px-right opacity7">Email:</strong><a href="javascript:void(0)"><span>support@@takemyhand.co</span></a></p>

                    </div>

                    <div class="col-lg-5 col-md-12 sm-margin-30px-bottom">
                        <h3 class="small-title text-white">Quick Links</h3>
                        <ul class="list-style3">
                            <li><a href="~/about">About Us</a></li>
                            @*<li><a href="gallery.html">Gallery</a></li>
                                <li><a href="services.html">Services</a></li>
                                <li><a href="donate-now.html">Donate Now</a></li>
                                <li><a href="volunteer.html">Volunteer</a></li>*@
                            <li><a href="about-contact-us">Contact Us</a></li>
                            @*<li><a href="causes-list.html">Causes List</a></li>
                                <li><a href="event-details.html">Event Details</a></li>
                                <li><a href="causes-detail.html">Causes Detail</a></li>
                                <li><a href="blog-default.html">Blog Default</a></li>*@
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-12">
                        <h3 class="small-title text-white">Instagram</h3>
                        <div class="instagram-post">
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                            <div class="single-post">
                                <a href="javascript:void(0)"><img src="https://picsum.photos/80/80" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="footer-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 text-left xs-text-center xs-margin-5px-bottom">
                            <div class="footer-social-icons small">
                                <ul>
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 text-right xs-text-center">
                            <p class="xs-margin-5px-top xs-font-size13">&copy; 2021 TakeMyHand &trade;</p>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- end footer section -->

    </div>
    <!--cookie alert div -->
    <div class="alert text-center cookiealert" role="alert">
        <b>Please read our cookies policy</b> &#x1F36A; We use <a href="~/CookiePolicy" target="_blank">
            cookies
        </a> to ensure you get the best experience on our website. <a href="/Home/CookiePolicy" target="_blank">More...</a>
        <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close">
            Got It!
        </button>
    </div>
    <!-- end main-wrapper section -->
    <!-- start scroll to top -->
    <a href="javascript:void(0)" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>
    <!-- end scroll to top -->
    <!-- all js include start -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery.min.js"></script>

    <!-- modernizr js -->
    <script src="~/assets/js/modernizr.js"></script>

    <!-- bootstrap -->
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- Serch -->
    <script src="~/assets/search/search.js"></script>

    <!-- navigation -->
    <script src="~/assets/js/nav-menu.js"></script>

    <!-- tab -->
    <script src="~/assets/js/easy.responsive.tabs.js"></script>

    <!-- owl carousel -->
    <script src="~/assets/js/owl.carousel.min.js"></script>

    <!-- jquery.counterup.min -->
    <script src="~/assets/js/jquery.counterup.min.js"></script>

    <!-- stellar js -->
    <script src="~/assets/js/jquery.stellar.min.js"></script>

    <!-- waypoints js -->
    <script src="~/assets/js/waypoints.min.js"></script>

    <!-- countdown js -->
    <script src="~/assets/js/countdown.js"></script>

    <!-- jquery.magnific-popup js -->
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- isotope.pkgd.min js -->
    <script src="~/assets/js/isotope.pkgd.min.js"></script>

    <!-- map js -->
    <script src="~/assets/js/map.js"></script>

    <!-- custom scripts -->
    <script src="~/assets/js/main.js"></script>
    <!--cookiealert-->
    <script src="~/assets/js/cookiealert.js"></script>

    <!-- contact form scripts -->
    <script src="~/assets/js/mailform/jquery.form.min.js"></script>
    <script src="~/assets/js/mailform/jquery.rd-mailform.min.c.js"></script>

    <!-- all js include end -->
    <!-- LiveChat -->
    <script type="text/javascript">
        window.__lc = window.__lc || {};
        window.__lc.license = 11361022;
        (function () {
            var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
            lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
        })();
    </script>
    <!--Hours On Script-->
    <script>
        // hours on script
        $(document).ready(function () {
            $('#hours-on').show().delay(60000).fadeOut();

        });
    </script>
    @RenderSection("script", required: false)
</body>
</html>